# Ignore build results and temporary files from Visual Studio

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.log
*.exe
[Dd]ebug*/
[Dd]ebugPublic/
[Rr]elease*/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/